/* TODO INPUT */
.todo_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 100%;
}

.input_custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.icon_search {
    margin-left: auto;
    margin-top: auto;
    padding: 5px 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #0069d9;
    color: #fff;
    background-color: #0069d9;
}

.input label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.btn_add {
    margin-top: auto;
}

.group_button {
    display: flex;
    margin-top: auto;
}

.tr_disabled {
    text-decoration: line-through;
    background-color: lightpink;
}

.tr_done {
    text-decoration: line-through;
    background-color: lightgreen;
}

.btn_custom {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: transparent;
    outline: none !important;
    inline-size: max-content;
    font-weight: 500;
}

.btn_info {
    border: 2px solid #00bcd4;
    color: #00bcd4;
    transition: all .3s;
}

.btn_info:hover {
    background-color: #00bcd4;
}

.btn_error {
    border: 2px solid #f44336;
    color: #f44336;
    transition: all .3s;
}

.btn_error:hover {
    background-color: #f44336;
}

.btn_done {
    border: 2px solid #0069d9;
    color: #0069d9;
    transition: all .3s;
}

.btn_done:hover {
    background-color: #0069d9;
}

.btn_info:hover,
.btn_error:hover,
.btn_done:hover {
    cursor: pointer;
    color: #fff;
}

/* PC */
@media (min-width: 64em) {}

/* IPAD Pro */
@media (max-width: 64em) {}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* MOBILE */
@media (max-width: 46.25em) {
    .todo_input {
        flex-direction: column;
        align-items: flex-end;
    }

    .todo_input .btn_add {
        margin-top: 5px;
    }
}