.app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.text_bold {
    font-weight: bold !important;
}

.text_capitalized {
    text-transform: capitalize !important;
}

/* TABLE BOOTSTRAP */

.table thead th:not(:first-child) {
    min-width: 160px !important;
}

.table thead th:last-child {
    min-width: 250px !important;
}

/* FORM BOOTSTRAP */
.form-control:focus {
    box-shadow: none !important;
}